<html>
  <head>
    {% if title %}
      <title>{{ title }}</title>
    {% else %}
      <title>RE Analyzer</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include 'layouts/navbar.html' %}
    {% block content %}{% endblock %}
    {% include 'layouts/footer.html' %}
    {% include 'layouts/required-js.html' %}
    </body>
</html>
