<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
        <meta name="author" content="Coderthemes">

        <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon_1.ico') }}">

        <title>Minton - Responsive Admin Dashboard Template</title>

        <link href="{{ url_for('static', filename='plugins/switchery/switchery.min.css') }}" rel="stylesheet" />
        <link href="{{ url_for('static', filename='plugins/jquery-circliful/css/jquery.circliful.css') }}" rel="stylesheet" type="text/css" />

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/icons.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">

        <script src="{{ url_for('static', filename='js/modernizr.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>


    </head>


    <body class="fixed-left">

        <!-- Begin page -->
        <div id="wrapper">

            {% include 'layouts/navbar.html' %}
            {% include 'layouts/sidebar.html' %}

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container-fluid">
                      <!-- Page-Title -->
                      <div class="row">
                          <div class="col-sm-12">
                              <div class="page-title-box">
                                  <h4 class="page-title">{{ title }} </h4>
                                  <div class="clearfix"></div>
                              </div>
                          </div>
                      </div>
                      {% include "security/_messages.html" %}
                        {% block content %}{% endblock %}
                    </div>
                    <!-- end container -->
                </div>
                <!-- end content -->

                <footer class="footer">
                    2018 © You've Got Deals
                </footer>

            </div>
            <!-- ============================================================== -->
            <!-- End Right content here -->
            <!-- ============================================================== -->
        </div>
        <!-- END wrapper -->



        <script>
            var resizefunc = [];
        </script>

        <!-- Plugins  -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script><!-- Popper for Bootstrap -->
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/detect.js') }}"></script>
        <script src="{{ url_for('static', filename='js/fastclick.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.slimscroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.blockUI.js') }}"></script>
        <script src="{{ url_for('static', filename='js/waves.js') }}"></script>
        <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.nicescroll.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/switchery/switchery.min.js') }}"></script>

        <!-- Counter Up  -->
        <script src="{{ url_for('static', filename='plugins/waypoints/lib/jquery.waypoints.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/counterup/jquery.counterup.min.js') }}"></script>

        <!-- circliful Chart -->
        <script src="{{ url_for('static', filename='plugins/jquery-circliful/js/jquery.circliful.min.js') }}"></script>
        <script src="{{ url_for('static', filename='plugins/jquery-sparkline/jquery.sparkline.min.js') }}"></script>

        <!-- skycons -->
        <script src="{{ url_for('static', filename='plugins/skyicons/skycons.min.js') }}" type="text/javascript"></script>

        <!-- Page js  -->
        <script src="{{ url_for('static', filename='pages/jquery.dashboard.js') }}"></script>

        <!-- Custom main Js -->
        <script src="{{ url_for('static', filename='js/jquery.core.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.app.js') }}"></script>


        <script type="text/javascript">
            jQuery(document).ready(function($) {
                $('.counter').counterUp({
                    delay: 100,
                    time: 1200
                });
                $('.circliful-chart').circliful();
            });

            // BEGIN SVG WEATHER ICON
            if (typeof Skycons !== 'undefined'){
                var icons = new Skycons(
                        {"color": "#3bafda"},
                        {"resizeClear": true}
                        ),
                        list  = [
                            "clear-day", "clear-night", "partly-cloudy-day",
                            "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                            "fog"
                        ],
                        i;

                for(i = list.length; i--; )
                    icons.set(list[i], list[i]);
                icons.play();
            };

        </script>


    </body>
</html>
