<script>
    var resizefunc = [];
</script>

<!-- Plugins  -->
<script src="{{ url_for('static', filename='backend/js/popper.min.js') }}"></script><!-- Popper for Bootstrap -->
<script src="{{ url_for('static', filename='backend/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/detect.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/fastclick.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.slimscroll.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.blockUI.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/waves.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/wow.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.nicescroll.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.scrollTo.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/switchery/switchery.min.js') }}"></script>

<!-- Counter Up  -->
<script src="{{ url_for('static', filename='backend/plugins/waypoints/lib/jquery.waypoints.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/counterup/jquery.counterup.min.js') }}"></script>

<!-- circliful Chart -->
<script src="{{ url_for('static', filename='backend/plugins/jquery-circliful/js/jquery.circliful.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/jquery-sparkline/jquery.sparkline.min.js') }}"></script>

<!-- skycons -->
<script src="{{ url_for('static', filename='backend/plugins/skyicons/skycons.min.js') }}" type="text/javascript"></script>

<!-- Page js  -->
<script src="{{ url_for('static', filename='backend/pages/jquery.dashboard.js') }}"></script>

<!-- Custom main Js -->
<script src="{{ url_for('static', filename='backend/js/jquery.core.js') }}"></script>
<script src="{{ url_for('static', filename='backend/js/jquery.app.js') }}"></script>

<script type="text/javascript">
    jQuery(document).ready(function($) {
        $('.counter').counterUp({
            delay: 100,
            time: 1200
        });
        $('.circliful-chart').circliful();
    });

    // BEGIN SVG WEATHER ICON
    if (typeof Skycons !== 'undefined'){
        var icons = new Skycons(
                {"color": "#3bafda"},
                {"resizeClear": true}
                ),
                list  = [
                    "clear-day", "clear-night", "partly-cloudy-day",
                    "partly-cloudy-night", "cloudy", "rain", "sleet", "snow", "wind",
                    "fog"
                ],
                i;

        for(i = list.length; i--; )
            icons.set(list[i], list[i]);
        icons.play();
    };

</script>
