<div class="card">
  <div class="card-header">
    Cashflow
  </div>
  <div class="card-block">
    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Scheduled Income</th>
          <td>{{ property.getMonthlyIncome()|currency }}</td>
        </tr>
        <tr>
          <th scope="row">Mortgage Payment</th>
          <td>{{ property.getMonthlyMortgagePayment()|currency }}</td>
        </tr>
        <tr>
          <th scope="row">Operating Expenses</th>
          <td>{{ property.getMonthlyOperatingExpenses()|currency }}</td>
        </tr>
        <tr>
          <th scope="row">Cashflow</th>
          <td>{{ property.getMonthlyCashflowBeforeTaxes(0,0,0)|currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
