<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      Expenses (Monthly) - {{ property.getMonthlyOperatingExpenses() | currency }}
    </div>
    <div class="card-block">
      <p class="card-text">Taxes: {{ (property.taxes / 12)|currency }}</p>
      <p class="card-text">Insurance: {{ (property.insurancePremiums / 12)|currency }}</p>
      <p class="card-text">Property Management: {{ property.getMonthlyPropertyManagementExpense()|currency }}</p>
      <p class="card-text">CapEx Reserves: {{ property.getMonthlyCapExReserveExpense()|currency }}</p>
      <p class="card-text">Vacancy and Credit Loss: {{ property.getMonthlyVacancyAndCreditLoss()|currency }}</p>
      <p class="card-text">Maintenance: {{ (property.maintenance)|currency }}</p>
      <p class="card-text">HOA: {{ (property.hoa)|currency }}</p>
      <p class="card-text">Water: {{ (property.water)|currency }}</p>
      <p class="card-text">Garbage: {{ (property.garbage)|currency }}</p>
      <p class="card-text">Gas: {{ (property.gas)|currency }}</p>
      <p class="card-text">Electricity: {{ (property.electricity)|currency }}</p>
      <p class="card-text">Other: {{ (property.other)|currency }}</p>
    </div>
  </div>
</div>
<div class="col-md-6">
  <div class="card">
    <div class="card-header">
      Expenses (Annually) - {{ property.getAnnualOperatingExpenses() | currency }}
    </div>
    <div class="card-block">
      <p class="card-text">Taxes: {{ (property.taxes)|currency }}</p>
      <p class="card-text">Insurance: {{ (property.insurancePremiums)|currency }}</p>
      <p class="card-text">Property Management: {{ property.getAnnualPropertyManagementExpense()|currency }}</p>
      <p class="card-text">CapEx Reserves: {{ property.getAnnualCapExReserveExpense()|currency }}</p>
      <p class="card-text">Vacancy and Credit Loss: {{ property.getAnnualVacancyAndCreditLoss()|currency }}</p>
      <p class="card-text">Maintenance: {{ (property.maintenance * 12)|currency }}</p>
      <p class="card-text">HOA: {{ (property.hoa * 12)|currency }}</p>
      <p class="card-text">Water: {{ (property.water * 12)|currency }}</p>
      <p class="card-text">Garbage: {{ (property.garbage * 12)|currency }}</p>
      <p class="card-text">Gas: {{ ((property.gas * 12))|currency }}</p>
      <p class="card-text">Electricity: {{ (property.electricity * 12)|currency }}</p>
      <p class="card-text">Other: {{ (property.other * 12)|currency }}</p>
    </div>
  </div>
</div>
