<!-- Required datatable js -->
<script src="{{ url_for('static', filename='backend/plugins/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/dataTables.responsive.min.js') }}"></script>
<script src="{{ url_for('static', filename='backend/plugins/datatables/responsive.bootstrap4.min.js') }}"></script>


<script type="text/javascript">
    $(document).ready(function() {
        $('.datatable').DataTable();
    } );

</script>
