<!-- Examples -->
        <!--<script src="../plugins/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
        <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="../plugins/datatables/dataTables.bootstrap4.min.js"></script>-->
        <script src="{{ url_for('static', filename='backend/plugins/tiny-editable/mindmup-editabletable.js') }}"></script>
        <script src="{{ url_for('static', filename='backend/plugins/tiny-editable/numeric-input-example.js') }}"></script>
