{% extends "layouts/auth.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field %}


{% block form %}
<form class="form-signin" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
  {{ login_user_form.hidden_tag() }}
  <h2 class="form-signin-heading">Please sign in</h2>
  {% include "security/_messages.html" %}
  {{ render_field_with_errors(login_user_form.email,id="inputEmail", class="form-control", placeholder="Email Address", autofocus="true", required="true") }}
  {{ render_field_with_errors(login_user_form.password,id="inputPassword", class="form-control", placeholder="Password", required="true") }}
  {{ render_field_with_errors(login_user_form.remember) }}
  {{ render_field(login_user_form.next) }}
  {{ render_field(login_user_form.submit, class="btn btn-lg btn-primary btn-block") }}
  {% if security.registerable or security.recoverable or security.confirmable %}
    <br />
    <div class="strike">
      <span>OR</span>
    </div>
    <br />
    <a class="btn btn-lg btn-secondary btn-block" type="button" href="{{ url_for_security('register') }}">Register</a>
  {% endif %}
</form>

{% endblock %}
