{% extends "layouts/backend/base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-10">
                <h4 class="text-dark  header-title m-t-0">Current Analysis</h4>
            </div>
          </div>


            <table class="table mb-0 table-responsiven datatable">
                <thead>
                  <tr>
                      <th>#</th>
                      <th>Address</th>
                      <th>List Price</th>
                      <th>Rehab Est.</th>
                      <th>ARV</th>
                      <th>Income</th>
                      <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {#{% for listing in listings %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ listing.address }}</td>
                        <td>{{ listing.listPrice }}</td>
                        <td>{{ listing.rehabCost }}</td>
                        <td>{{ listing.arv }}</td>
                        <td>{{ listing.income }}</td>
                        <td class="actions">
                            <a href="{{ url_for('listings.edit', listing_id=listing.id ) }}" class="on-default edit-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"><i class="fa fa-pencil"></i></a>
                            <a href="{{ url_for('listings.delete', listing_id=listing.id ) }}" class="on-default remove-row" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                  {% endfor %}#}
                </tbody>
            </table>
        </div>
    </div>
    <!-- end col -12 -->

</div>
<!-- end row -->
{% include 'layouts/backend/scripts/common-js.html' %}
{% include 'layouts/backend/scripts/datatable-js.html' %}

{% endblock %}
