{% extends "layouts/backend/base.html" %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Inline Editor</b></h4>
            <p class="text-muted m-b-30 font-13">
                just start typing to edit, or move around with arrow keys or mouse clicks!
            </p>

            <div class="table-responsive">
                <table id="oppExpenses" class="table table-striped m-b-0">
                    <thead>
                      <tr>
                          <th>Type</th><th>Calc. Type</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                          <td>Utilities</td>
                          <td>Fixed</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- end row -->


<div class="row">
    <div class="col-lg-12">
        <div class="card-box">
          <div class="row">
            <div class="col-sm-10">
                <h4 class="text-dark  header-title m-t-0">Analysis Settings</h4>
                <p><strong>Operating Expenses</strong> <a href="#" id="add-operating-expense" class="btn btn-success btn-sm waves-effect waves-light">Add <i class="mdi mdi-plus-circle-outline"></i></a></p>
                <div id="operating-expenses"></div>
            </div>
          </div>
        </div>
    </div>
    <!-- end col -12 -->
</div>
<!-- end row -->

{% include 'layouts/backend/scripts/common-js.html' %}
{% include 'layouts/backend/scripts/editabletable-js.html' %}

<script>
    $('#oppExpenses').editableTableWidget().numericInputExample().find('td:first').focus();
</script>


{% raw %}
<script id="expense-line-item" type="text/template">
  <p>Item #</p>
</script>
{% endraw %}

<script src="{{ url_for('static', filename='backend/js/mustache.min.js')}}"></script>
<script type="text/javascript">
  $( document ).ready(function() {
    $('#add-operating-expense').click( function() {
      var data = {
        id: '1'
      };
      var template = $('#expense-line-item').html();
      var html = Mustache.to_html(template, data);
      $('#operating-expenses').append(html);
    });
  });

</script>
{% endblock %}
