<form method="post">
  {{ form.hidden_tag() }}
    {% include 'web/deal/forms/address.html' %}
    <h3>Purchase Estimates</h3>
    <div class="form-group">
      <label for="askingPrice">Asking Price</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ form.askingPrice(class="form-control", placeholder="Asking Price", maxlength=255) }}
      </div>
    </div>
    <div class="form-group">
      <label for="purchasePrice">Purchase Price</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ form.purchasePrice(class="form-control", placeholder="Purchase Price", maxlength=255) }}
      </div>
    </div>
    <div class="form-group">
      <label for="downPayment">Down Payment</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        {{ form.downPayment(class="form-control", placeholder="Down Payment", maxlength=255) }}
      </div>
    </div>
    <div class="form-group">
      <label for="downPayment">Term Length</label>
      <div class="input-group">
        {{ form.termLength(class="form-control", placeholder="Term Length") }}
        <span class="input-group-addon">Years</span>
      </div>
    </div>
    <div class="form-group">
      <label for="interestRate">Interest Rate</label>
      <div class="input-group">
        {{ form.interestRate(class="form-control", placeholder="Interest Rate", maxlength=255) }}
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <h4>Income</h4>
    <button id="add-unit" class="btn btn-primary" type="button">Add</button>
    <div id="units">
      <!-- Will be appended to based upon MustacheJS logic -->
    </div>
    <div class="form-group row">
      <label for="vacancyRate" class="col-md-8 col-form-label">Vacancy %</label>
      <div class="input-group col-md-4">
        {{ form.vacancyRate(class="form-control", placeholder="Vacancy %", maxlength=3) }}
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <h4>General Expenses</h4>
    <div class="form-group row">
      <label for="taxes" class="col-md-8 col-form-label">Annual Taxes</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.taxes(class="form-control", placeholder="Taxes") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="insurancePremiums" class="col-md-8 col-form-label">Insurance Premiums</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.insurancePremiums(class="form-control", placeholder="Premiums") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="propertyManagementFee" class="col-md-8 col-form-label">Property Management Fee</label>
      <div class="input-group col-md-4">
        {{ form.propertyManagementFee(class="form-control", placeholder="10", maxlength=3) }}
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <div class="form-group row">
      <label for="capEx" class="col-md-8 col-form-label">Capital Expenditure Reserves</label>
      <div class="input-group col-md-4">
        {{ form.capEx(class="form-control", placeholder="Cap Ex", maxlength=3) }}
        <span class="input-group-addon">%</span>
      </div>
    </div>
    <h4>Monthly Expenses</h4>
    <div class="form-group row">
      <label for="maintenance" class="col-md-8 col-form-label">Maintenance</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.maintenance(class="form-control", placeholder="Maintenance") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="hoa" class="col-md-8 col-form-label">Home Owners Association</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.hoa(class="form-control", placeholder="HOA") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="water" class="col-md-8 col-form-label">Water</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.water(class="form-control", placeholder="Water") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="garbage" class="col-md-8 col-form-label">Garbage</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.garbage(class="form-control", placeholder="Garbage") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="gas" class="col-md-8 col-form-label">Gas</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.gas(class="form-control", placeholder="Gas") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="electricity" class="col-md-8 col-form-label">Electricity</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.electricity(class="form-control", placeholder="Electricity") }}
      </div>
    </div>
    <div class="form-group row">
      <label for="other" class="col-md-8 col-form-label">Other</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        {{ form.other(class="form-control", placeholder="Electricity") }}
      </div>
    </div>





  <button type="submit" class="btn btn-primary">Save</button>
</form>

<!-- Template for unit formfield -->
<script id="unitForm" type="text/template">
  {% raw %}
    {{#units}}
    <div class="form-group row">
      <label for="{{formName}}-{{id}}-{{fieldName}}" class="col-md-8 col-form-label">Unit {{unitNumber}} Rent</label>
      <div class="input-group col-md-4">
        <span class="input-group-addon">$</span>
        <input type="text" class="form-control" id="{{formName}}-{{id}}-{{fieldName}}" placeholder="Rent per month" name="{{formName}}-{{id}}-{{fieldName}}" value="{{value}}">
      </div>
    </div>
    {{/units}}
  {% endraw %}
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.3.0/mustache.min.js"></script>
<script src="{{ url_for('static', filename='js/templates/unitForm.js') }}"></script>

<script type="text/javascript">
$( document ).ready(function() {
  var data = {
    units: [
      {% if form.units|length != 0 %}
        {% for unit in form.units %}
          {
            "id": {{ loop.index - 1 }},
            "unitNumber": {{ loop.index }},
            "formName": "units",
            "fieldName": "income",
            "value": "{{ unit.income.data }}"
          }{% if loop.index != form.units|length %},{% endif %}
        {% endfor %}
      {% else %}
        {
          "id": 0,
          "unitNumber": 1,
          "formName": "units",
          "fieldName": "income",
          "value": ""
        }
      {% endif %}
  ]};
  generateUnitForm(data);

  $("#add-unit").click( function() {
    addUnitToForm();
  });
});
</script>
